body {
	background-color: #83C7E5;
    height: 100%;
    position: absolute;
    width: 100%;
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}


@font-face {
	font-family: 'fontello';
	src: url('./font/fontello.eot?33228201');
	src: url('./font/fontello.eot?33228201#iefix') format('embedded-opentype'),
	   url('./font/fontello.woff?33228201') format('woff'),
	   url('./font/fontello.ttf?33228201') format('truetype'),
	   url('./font/fontello.svg?33228201#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
     
a {
	color: white;
	text-decoration: none;
}

header{
	background-color: #F8B000;
	border-bottom: 3px solid #6EC8E5;
	position: fixed;
	width: 100%;
	z-index: 110;
	height: 3em;
	display: flex;
	line-height: 2;
}

header a {
    /* display: inline-block; */
    display: block;
    padding: 0em 0.6em;
    font-size: 1.6em;
    height: 100%;
    /* line-height: 2; */
    width: min-content;
    /* float: right; */
}

header a[href="#settings"]{
    line-height: 1.8;
}

header a[href="#reset"]{
    font-size: 1.1em;
    line-height: 2.5em;
}

header a[href="#discover"]{
	padding-left: 0;
}

header .icon-times {
	font-size: 1.1em;
    line-height: 1.85;
}

header a:target{
	background-color: rgba(0,0,0,0.1);
}

header #logo {
    display: block;
    margin: 0.5em;
    margin-top: 0.3em;
}

header img {
    height: 1.2em;
}

h1 span {
	font-size: 0.7em;
	font-weight: normal;
}

h1 em{
	font-weight: bold;
	font-style: normal;
}

nav li {
	padding: 0.5em;
}

section ol, section ul {
	padding: 1em;
}

main section ul {
	padding-top: 0;
}

section ol {
	margin: 0 auto;
    width: 90%;
}

section ol:after, section ul:after {
	display: block;
	content:"";
	clear: both;
}

body > section {
	position: absolute;
	color: white;
	height: auto;
	width: 100%;
	height: 100%;
	-webkit-transition: 1s ease-in-out;
	       transition: 1s ease-in-out;
}

#houses {
	overflow-x: hidden;
}

.object {
	display: inline-block;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	background-size: cover;
	cursor: -webkit-grab;
	cursor: grab;
	overflow: hidden !important;
	position: absolute;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.object a section {
	width: 100%;
    background-color: #F8B000;
    /* position: absolute; */
    position: relative;
    padding: 1em;
    padding-bottom: 2em;
    bottom: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.object a[href='#discover'] section{
	padding-bottom: 1em;
}


.object.active {
	z-index: 100;
	opacity: 1;
	filter: alpha(opacity=100);
}

.object .object-detail{
    position: absolute;
    left: 0;
    cursor: default;
    /* bottom: -85%; */
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 30em;
    height: 100%;
    /* cursor: auto; */
	border: 3px solid #6EC8E5;
	border-left: 0;
    margin-top: calc(100vh - 7.75em);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

}

.object-detail .icon{
    position: absolute;
    right: 0.2em;
    top: 50%;
    -webkit-transform: translateY(-36%);
        -ms-transform: translateY(-36%);
            transform: translateY(-36%);
    font-size: 4em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: navajowhite;
}

.object-detail .info{
	padding: 1em;
	color: black;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    bottom: 0;
    position: relative;
    z-index: 1;
    border-right: 3px solid #F8B000;
    overflow: auto;
    height: calc(100% - 9.5em);
}

.object-detail .fotos {
	margin-top: 1.5em;
    height: auto;
    background-color: white;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;

}

.fotos img {
	display: block;
	margin-bottom: 1em;
	max-width: 28em;
	width: 100%;
	height: 100%;
}

.object-detail.visible{
	margin-top: 3em;
	border-top: 0;
}

#button_container.invisible{
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 90;
}

section h1 {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

main section:first-of-type{
	max-width: 25em;
}

#home h1, #home h2 {
	text-align: center;
}

#button_container{
	position: absolute;
	margin: 0;
	padding: 0;
    z-index: 200;
  	left: 50%;
  	-webkit-transform: translate(-60%);
  	    -ms-transform: translate(-60%);
  	        transform: translate(-60%);
    bottom: 8.75em;
	-webkit-transition: 0.6s ease-in-out;
	       transition: 0.6s ease-in-out;
}

#button_container button {
	position: relative;
	cursor: pointer;
	margin-right: 2rem;
    font-size: 2.5em;
    border: 0;
    background-color: white;
    border: 0.35rem solid #6EC8E5;
    border-radius: 100em;
    height: 6rem;
    width: 6rem;
	-webkit-transition: 0.4s ease-in-out;
	       transition: 0.4s ease-in-out;
	-webkit-transform-origin: center;
	    -ms-transform-origin: center;
	        transform-origin: center;
}

#button_container button:hover{
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

#button_container button:focus{
	outline: none;
	box-shadow: 0 0 0 2px rgba(255,255,0,0.5);
}

#button_container #loveBtn {
    line-height: 2.5em;
	color: #F8B000;
	float: right; 
	margin-right: 0;
}

#button_container #rejectBtn {
    line-height: 2.05;
    font-size: 3em;
	color: #6EC8E5;
}

section#settingsPage, #lovePage, #rejectPage {
	padding: 4.5em 1.5em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	bottom: 100%;
	background-color: #F8B000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

section#settingsPage {
	bottom: initial;
	height: auto;
	top:-100%;
	padding-top: 3.5em;
	padding-bottom: 1em;
}

section#settingsPage.active{
	top: 0;
}


#settingsPage [role="close"]{
    position: absolute;
    font-size: 2em;
    right: 1em;
}

#lovePage [role="close"], #rejectPage [role="close"] {
    background-color: #F8B000;
    border-radius: 0.2em;
    text-align: right;
    padding: 0.1em;
    font-size: 2em;
    right: 1em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    position: fixed;
}

#settingsPage article, #lovePage article, #rejectPage article{
	width: 48%;	
	margin-bottom: 1em;
}

#settingsPage span, #lovePage span, #rejectPage span{
	font-size: 1.1em;
}

#settingsPage h1, #lovePage h1, #rejectPage h1{
	margin-bottom: 0;	
}

#settingsPage img, #lovePage img, #rejectPage img{
	width: 100%;
}

#lovePage.active, #rejectPage.active {
	bottom:0;
}

#settings input[type="number"]:before{
	content:'€\FE0F';
	display:inline;
}

.invis{
	position: fixed;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1;
}

.right{
	-webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	        transform: translateX(100%);
}

.left{
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
}

.left:before, .right:before, .loading{
	line-height: 1.35;
	padding: 0;
	margin: 0;
	display: block;
	text-align: center;
	background-color: white;
	padding: 0.1em;
	width: 1.3em;
	height: 1.3em;
	font-size: 10em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	position: absolute;
	-webkit-animation: fadein 0.4s;
	        animation: fadein 0.4s;
	border-radius: 15%;
	overflow: hidden;
}

.left:before, .right:before{
	font-family: icon-font;
}

.loading{
	padding: 1em;
    width: 6.3em;
    height: 6.3em;
    line-height: 6.3em;
    font-size: 2em;
    font-weight: bold;
    top: 50%;
    left: 50%;
    color: #6EC8E5;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.left:before{
	content:"\64";
	color: #6EC8E5;
}


.right:before{
    line-height: 1.5;
  	content: "\63";
	color: #F8B000;
}

@-webkit-keyframes fadein {
    from { opacity: 0; filter: alpha(opacity=0); }
    to   { opacity: 1; filter: alpha(opacity=100); }
}

@keyframes fadein {
    from { opacity: 0; filter: alpha(opacity=0); }
    to   { opacity: 1; filter: alpha(opacity=100); }
}

h2 {
	margin-top: 1em;
}

header h1 {
    padding: 0.2em 0.5em;
}

form {
	font-size: 1.2em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

form h1{
	font-size: 1em;
	width: 100%;
}

form button {
    padding: 1em;
    background-color: white;
    color: #F8B000;
    font-size: 1.em;
    font-weight: bold;
    border: 0;
    border-radius: 0.3em;
    margin-left: 1em;
    cursor: pointer;
}

fieldset {
	border: 0;
}

fieldset:first-of-type{
	margin-right: 1em;
}

table {

	line-height: 1.4;
	width:100%;
}

th {
	text-align: left
}

tr:not(:first-of-type) th{
	display: inline-block;
	margin-top: 1.5em;
}


@media (max-width: 42em) {
	#button_container{
		display: flex;
	}

	#button_container button{
	    position: relative;
	    cursor: pointer;
	    margin-right: 2rem;
	    font-size: 1.7em;
	    border: 0;
	    background-color: white;
	    border: 0.35rem solid #6EC8E5;
	    border-radius: 100em;
	    height: 4rem;
	    width: 4rem;
	    -webkit-transition: 0.4s ease-in-out;
	    transition: 0.4s ease-in-out;
	    -webkit-transform-origin: center;
	    -ms-transform-origin: center;
	    transform-origin: center;
	}

	#button_container #rejectBtn {
		font-size: 2em;
	}

	#lovePage article, #rejectPage article{
		width: 100%;
		font-size: 0.8em;
	}

	#settings {
		height: auto;
    	padding-bottom: 1em;
	}

	form button{
		margin-top: 1em;
	}

	.object-detail div.icon-info-circle {
		opacity: 0;
		filter: alpha(opacity=0);
	}
}