body {
	background-color: #83C7E5;
}

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

header{
	background-color: white;
	position: fixed;
	width: 100%;
	z-index: 100;
}

header img {
    height: 1.7em;
}

h1 span {
	font-size: 0.7em;
	font-weight: normal;
}

h1 em{
	font-weight: bold;
	font-style: normal;
}

nav li {
	padding: 0.5em;
}

section ol, section ul {
	padding: 1em;
}

main section ul {
	padding-top: 0;
}

section ol {
	margin: 0 auto;
    width: 90%;
}

section ol:after, section ul:after {
	display: block;
	content:"";
	clear: both;
}

body > section {
	position: absolute;
	color: white;
	height: auto;
	width: 100%;
	height: 100%;
	-webkit-transition: 1s ease-in-out;
	       transition: 1s ease-in-out;
}

#houses {
}

.object {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-size: cover;
	cursor: -webkit-grab;
	cursor: grab;
	overflow: hidden !important;
	position: absolute;
}

.object section {
	width: 30em;
	background-color: black;
    position: absolute;
    margin: 1.5em;
    padding: 1em;
    bottom: 0;
}

.object.active {
	z-index: 100;
}

.object .object-detail{
    position: relative;
    cursor: normal;
    left: 0;
    bottom:-100%;
	width: 100%;
    height: 100%;
    background-color: blue;
	cursor: auto;
	    -webkit-transition: 1s ease-in-out;
	       transition: 1s ease-in-out;

}

.object-detail a{
	width: 100%;
	height: 2em;
	background-color: white;
	display: block;
}

.object-detail.visible {
	bottom: 0%;
}

section h1 {
	margin-bottom: 1em;
}

h2 {
	font-size: 1.2em;
}

main section:first-of-type{
	max-width: 25em;
}

#home h1, #home h2 {
	text-align: center;
}

@media(max-width: 700px){
	.loader {
		width: 100%;
	}

	#home li {
		min-width: 0;
		width: auto;
	}
}

.invis{
	position: fixed;
	overflow: hidden;
	opacity: 0;
	z-index: -1;
}

h2 {
	margin-top: 1em;
}

header h1 {
    padding: 0.2em 0.5em;
}

form {
	text-align: center;
}

form > * {
	font-size: 1.5em;
}

form input {
	width: 50%;
}